<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netherite Wallet</title>
    
    <link rel = "stylesheet" href = "/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "/static/vendor/DataTables/css/datatables.min.css">
    <link rel = "stylesheet" href = "/static/vendor/font-awesome/font-awesome.min.css">
    <link rel = "stylesheet" href = "/static/css/custom.css"
</head>
<body>
    <!--Top Navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href ="#" class="navbar-brand">Netherite Client</a>
            <!--Navigation Links-->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="/"class="nav-link">Wallet Generator</a>
                    </li>
                    <li class="nav-item">
                        <a href="/make/transactions"class="nav-link">Make Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a href="/view/transactions"class="nav-link">View Transactions</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>


    <!--Wallet generation button and prompts-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="card-body">
                    <h4 class="card-title">Wallet Generator</h4>
                    <p class="card-text">Press  to generate your blockchain wallet</p>
                    <input id="generate"type="button" class="btn btn-primary btn-lg" value="Generate Wallet">
                </div>
            </div>
        </div>
    </div>


    <!--Public and private key pair textboxes-->
    <div class="container">
        <div class="row">
            <label  for="public_key" class="col-sm-2">Public Key:</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="" id="public_key" rows="5" readonly></textarea>
            </div>
            <div class="col-sm-2">
                <br><br>
                <button id="copy_public_key" class="btn btn-secondary">Copy</button>
            </div>
        </div>
        <br>
        <div class="row">
            <label  for="private_key" class="col-sm-2">Private Key:</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="" id="private_key" rows="5" readonly></textarea>
            </div>
            <div class="col-sm-2">
                <br><br>
                <button id="copy_private_key" class="btn btn-secondary">Copy</button>
            </div>
        </div>
    </div>

    <br>


    <!--Warning messages-->
    <div id="warning_msg" class="row" style="display:none">
        <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
                WARNING!
                <ul>
                    <li>Please copy your private and public keys. They cannot be recovered</li>
                    <li>DO NOT share your private key</li>
                </ul>
            </div>
        </div>
    </div>

    <script src ="/static/vendor/jquery/jquery.min.js"></script>
    <script src ="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src ="/static/vendor/DataTables/js/datatables.min.js"></script>
    <script src ="/static/vendor/DataTables/js/ellipsis.js"></script>

    
    <script>
        /* This code runs when the webpage is fully loaded--> */
        $(function() {
            /*Clicking on Generate Wallet button*/
            $(document.getElementById('generate')).click(function() {
                $.ajax({
                    url:'/wallet/new',
                    type: 'GET',
                    success: function(response){
                        document.getElementById("public_key").innerHTML = response['public_key'];
                        document.getElementById("private_key").innerHTML = response['private_key'];
                        document.getElementById("warning_msg").style.display = "block";
                    },
                    error: function(){
                        console.log(error);
                    }
                });
            });

            
            /*Copy public key button*/
            $(document.getElementById('copy_public_key')).click(function() {
                var text = document.getElementById("public_key");
                text.select();
                navigator.clipboard.writeText(text.value);
            });


             /*Copy private key button*/
             $(document.getElementById('copy_private_key')).click(function() {
                var text = document.getElementById("private_key");
                text.select();
                navigator.clipboard.writeText(text.value);
            });
        });
    </script>
</body>
</html>